@model eMarket.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm("Edit", "CategoriesManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.Image)
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.Image)
        </div>
        <div class="form-group">
        @if (Model.Image == null) {
          @:None
        }
        else {
          <img width="150" height="150" alt="@Model.Name" src="/Content/Images/@Model.Image" />
        }
        </div>
        <div class="form-group">
            <input  type="file" name="file" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" />
        </div>
}

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
